
/*** Page ***/

* {
	margin: 0;
	padding: 0;
	border: 0;
	}

body {
	background: rgb(184, 219, 124);
	color: #555555;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 20px;
	padding: 0;
	line-height: 20px;
	text-align: center;
	}

li {
	line-height : 150%;
	padding-left: 5px;
	margin-left: 30px;
	}

p {
	padding-top: 5px;
	padding-bottom: 10px;
	}

pre {
	background: #dedede;
	margins: 5px;
	padding: 5px;
	}


/*** Tables ***/

table {
	width: 90%;
	margin: 10px;
	border: 1px black solid;
	}

td {
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 3px;
	}

td.header {
	background: #dddddd;
	font-weight: bold;
	text-align:center;
	}

td.header2 {
	border-bottom: 1px black;
	font-weight: bold;
	text-align:center;
	}


/*** Hyperlinks ***/

a, a:visited {
	color: #008DCF;
	text-decoration: none;
	}
	
a:hover {
	color: #008DCF;
	text-decoration: underline;
	}
	
a img {
	border: none;
	}
	
a:focus, a:hover, a:active {
	outline: none;
	}


/*** Relative Sizes ***/

.Larger5 {
	font-size: 200%;
	}

.Larger4 {
	font-size: 175%;
	}

.Larger3 {
	font-size: 150%;
	}

.Larger2 {
	font-size: 130%;
	}

.Larger1 {
	font-size: 110%;
	}

.Smaller1 {
	font-size: 90%;
	}

.Smaller2 {
	font-size: 80%;
	}

.Smaller3 {
	font-size: 70%;
	}

.Smaller4 {
	font-size: 60%;
	}

.Smaller5 {
	font-size: 50%;
	}


/*** Headlines ***/

h1, h2, h3, h4, h5, h6 {
	color: #333333;
	font-family: Arial, Tahoma, Verdana;
	font-weight: normal;
	text-decoration: none;
	margin: 0 0 5px 0;
	padding: 0;
	}

h1 {
	font-size: 22px;
	border-bottom: 1px dotted #CCCCCC;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	}
	
h2 {
	font-size: 18px;
	border-bottom: 1px dotted #CCCCCC;
	margin: 0 0 10px 0;
	padding: 10px 0px 5px 0;
	}
	
h3 {
	font-size: 15px;
	}
	
h4 {
	font-size: 13px;
	}
	
h5 {
	font-size: 12px;
	}
	
h6 {
	font-size: 11px;
	}


/*** Article Declarations ***/

.Article {
	background: #FFFFFF;
	margin: 20px auto;
	text-align: left;
	padding: 20px;
	width: 750px;
	}

.Article p,ul,dl {
	margin: 0;
	padding: 0 0 5px 0
	}

.Article .h2 {

	}

.Article .h3 {

	}

.Article .MainNavMenu {
	width : 100%;
	font-weight : bold;
	text-align : center;
	padding-top : 3px;
	padding-bottom : 1px;
	background-color: #eeeeee;
	border-bottom : 2px solid #28166F;
	margin-bottom : 0px;
	}

.Article .MainNavLink {
	text-align : right;
	font-size : 12px;
	padding-right : 5px;
	}

.Article .SubSectionHeader {
	font-weight: bold;
	font-size : 90%;
	}

.Article .MainBody {
	margin : 0 0 15px 15px;
	}

.Article .SubBody {
	margin-left : 15px;
	}

.Article .DownloadLink {
	text-align: center;
	font-weight: bold;
	font-size: 110%;
	}

.Article .CodeListing {
	width: 740px;
	overflow: auto;
	}